*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' , sans-serif;
   color:#434455 ;
    background-color: #fff;
   
}
a{
    text-decoration: none;
    color:currentColor;
}
ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
    margin-top: 0;
}
.container { 
max-width: 1158px;
padding: 0 15px;  
margin:0 auto; 
}
.header {
    border-bottom: 1px solid #E7E9FC;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*-------HEADER----------*/

.header-container {
display: flex;
}
.navigation {
    display: flex;
    flex-grow: 1;

}

.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4D5AE5;
        margin-right: 76px;
}

.logo-part {
  color: #2E2F42;
}
.header-contacts-list {
    display: flex;
    gap: 40px;
}
.navigation-list {
    display: flex;
    gap: 40px;
}
.header{
    padding-top: 24px;
    padding-bottom: 24px;
}



.navigation-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;

}

.navigation-item-link:hover ,
.navigation-item-link:focus{
    color: #404BBF;
}

.navigation-item {

}


.header-contacts {
    font-style: normal;
    display: flex;
}

.header-contacts-list{
    display: flex;


}


.header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-link {
    color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
color: #404BBF;

}


/*-------HERO-SECTION----------*/

.hero-section {
    background-color: #2E2F42;
    width: 100%;
        padding-top: 188px;
        padding-bottom: 292px;
        padding-left: 0;
        padding-right:0;
        margin: 0 auto;
}
.hero-wrap{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;

}
.hero-title {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#FFFFFF ;
        max-width: 496px;
        margin: 0 auto 48px;

}


.order-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
     align-items: center;
     flex-wrap: nowrap;
     border:none;
     gap: 10px;
     border-radius: 4px;
     padding: 16px 32px;
     max-width: 169px;
    height: 56px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    white-space: nowrap;
     

}
.order-btn:hover,
.order-btn:focus{
    background-color:#404BBF;
}

/*-------Opportunitie-SECTION----------*/
.opportunities {
padding: 120px 156px;
}

.opportunities-list {
display: flex;
gap: 24px;
}

.opportunities-item {
width:calc((100% - 3 * 24px)/4);
}

.opportunities-subtitle {
        font-weight: 500;
        font-size: 20px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

.opportunities-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*-------our-team----------*/
.our-team {
    background-color: #F4F4FD;
}

.our-team-title {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
    }

.our-team-list {
    display: flex;

}

.our-team-item {
        background-color: #FFFFFF;
}

.our-team-img {
}

.our-team-subtitle {
        font-weight: 500;
        font-size: 20px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.our-team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/*-------Portfolio----------*/
.portfolio-title {
    font-family: 'Raleway' , sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
    color:#2E2F42;
}

.protfolio-list {
    background-color: #FFFFFF;
    display: flex;
}

.portfolio-item {
}

.portfolio-picture {

}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2E2F42;
}

.portfolio-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*-------Footer----------*/
.footer {
    background-color: #2E2F42;
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


.footer-logo-part{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}


.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}